[submodule "themes/personal-web"]
	path = themes/personal-web
	url = git@github.com/cymantic/personal-web.git

[submodule "public"]
	path = public
	url = git@github.com/cymantic/cymantic.github.io.git
